.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar_list {
    display: flex;
    list-style: none;
}

.navbar__li {
    font-size: 20px;
    padding: 25px;
}

.navbar__item {
    text-decoration: none;
    text-decoration: 1px;
}
